<div class="row" *ngIf="!PreferencesSet">
    <div class="col-lg-6 offset-lg-3 text-center">
        <div class="mt-5 row">
            <div class="mb-3">
                <b>What multiples do you want to practice?</b>
            </div>
            <div *ngFor="let number of Numbers" class="field-checkbox col-3">
                <p-checkbox name="number" value="number" [value]="number" [(ngModel)]="SelectedNumbers" class="my-1">
                </p-checkbox>
                <label [for]="number"> {{number}}</label>
            </div>

            <div class="my-3">
                <b>What difficulty do you want to practice?</b>
            </div>
            <div *ngFor="let diff of DifficultyOptions" class="field-checkbox col-3 radioButton">
                <p-radioButton [inputId]="diff" name="DifficultyOptions" [value]="diff"
                    [(ngModel)]="SelectedDifficulty"></p-radioButton>
                <label [for]="diff">{{diff}}</label>
            </div>
        </div>

        <button type="button" class="btn secondary-btn mt-3" (click)="Initiate()">Start!</button>
    </div>
</div>
<div class="row">


    <div class="col-lg-12 text-center" *ngIf="PreferencesSet">
        <div class="d-flex justify-content-end pe-5">
            <h2> {{TimerCount}}</h2>
        </div>
        <div class="display-5 mt-4">Victoria's Math Quiz</div>
        <h3>{{TypeOfMath}}</h3>
        <hr>
        <div style="margin-top: 8vh;">
            <h1 [ngClass]="Correct">{{MathProblem}}
            </h1>
            <div class="mt-5">
                <h1>
                    <span *ngIf="SelectedDifficulty == 'PreAlgebra'">{{SelectedAlgebraicLetters}} = </span>
                    <input type="number" [(ngModel)]="UserAnswer" style="width: 75px;" class="lineOnly"
                        (keypress)="eventHandler($event.keyCode)" />
                </h1>
            </div>

            <button type="button" class="btn tertiary-btn mt-3" (click)="CheckAnswer()">Check Answer</button>
        </div>
    </div>


</div>