<div class="container">
    <div *ngIf="ShowMultiplication"></div>

    <div *ngIf="ShowDivision"></div>

    <div *ngIf="ShowFractions">
        <div class="text-center mt-3">
            <h1>Fractions</h1>
        </div>

        <div class="mt-3 row">
            <div class="col-8 mb-2">
                <p> Fractions are a way to divide whole objects into smaller chunks. We do this every day.
                    When you order a large pizza, they cut it up into 8 pieces. Each piece is 1&frasl;8 of the pizza. If
                    you
                    eat
                    3 slices, you've eaten 1&frasl;8 of the pizza.
                    If you have 2 pencils and give 1 pencil to your friend, you now have half (1&frasl;2) the number of
                    pencils that you started with.
                </p>
                <p>
                    There are infinite ways to write the same fraction, though, so it can get a little tricky. For
                    example, 3&frasl;6 is the same as 1&frasl;2.
                    Luckily, you're already a wiz at multiplication and division, and a fraction is just a funny looking
                    division problem.
                </p>
                <div class="secondary-text tertiary-border-bottom">
                    <h3>
                        What is a Fraction<span class="tertiary-text">?</span>
                    </h3>
                </div>
                <p>A fraction is made up of a <b>Numerator</b> and <b>Denominator</b>. The numerator is the top number,
                    and the Denominator is the bottom number.
                    <span class="primary-text">All division problems are fractions!</span> So when you've done 12 ÷ 3,
                    you're doing 12&frasl;3. However, in that fraction,
                    you can simplify the fraction down to a <b>Whole Number</b>. Remember, a whole number is a number
                    like 1 or 7 or 68943. It doesn't have any decimals or
                    fractions attached to it.
                </p>
                <p>
                    The fractions you'll be practicing here, however, won't come out to whole numbers. If you want more
                    practice with that, visit the division section.
                </p>
            </div>
            <div class="col-4 secondary-bg py-2">
                <h5>Consider This:</h5>
                <small>We use fractions for everything. Think about your height. We know that there are 12 inches in
                    a foot. So if you're
                    4 feet 2 inches, what they really mean is that you're 4 2&frasl;12 feet tall!
                </small>
                <br>
                <small>You can also simplify/reduce the fraction to 4 1&frasl;6 feet, or complicate/expand the
                    fraction to 50&frasl;12 feet!</small>
                <br>
                <br>
                <h5>Try it!</h5>
                <small>Ask a partner to measure your height with a tape measurer. Then, try to simplify/reduce and
                    complicate/expand your height!
                    For extra fun, try telling your math teacher your expanded height and see if they can guess it!
                </small>
            </div>

            <div class="col-4">
                <div class="imgContainer">
                    <img
                        src="https://images.twinkl.co.uk/tw1n/image/private/t_630/image_repo/be/6d/T-N-2895-Equivalent-Fractions-Posters-_ver_1.jpg" alt="simplifying fractions">
                </div>              
                <div class="imgContainer">
                    <img
                        src="https://teachablemath.com/wp-content/uploads/2016/05/equivalentfractions_1200x628-1.png" alt="simplifying fractions">
                </div>
            </div>

            <div class="col-8">
                <div class="secondary-text tertiary-border-bottom">
                    <h3 class="secondary-text">
                        How To Find Equivalent Fractions<span class="tertiary-text">.</span>
                    </h3>
                </div>

                <b>Let's find the Equivalent of 3/5 when the denominator in the incomplete fraction is 30. </b>

                <div class="my-2">
                    <h5 class="primary-text">3 / 5 = ? / 30</h5>
                </div>

                <ul>
                    <li>Start by taking the two denominators, 3 and 30</li>
                    <li>Divide the bigger number by the smaller number (30 ÷ 5 = 6)</li>
                    <li>Now, multiply the numerator by the number we just found, 6, to get your missing numerator.</li>
                    <li>3 x 6 = 18</li>
                    <li>The answer is 3&frasl;5 = 18&frasl;30</li>
                </ul>

                <p>
                    So we know how to find the answer, but <i>why</i> is it the answer? Imagine cutting up a pizza into
                    5 slices
                    and giving away 3 of those slices. Then you cut up another pizza into 30 pieces (that's a lot of
                    pizza slicing!)
                    and give away 18 of them. The two pizzas still have the exact same amount left, even though one is
                    cut up into
                    smaller slices than the other.
                </p>

                <div class="tertiary-text shadow-text">
                    <h5>
                        But Wait! Theres More!
                    </h5>
                </div>
                <p>The same approach works when the denominator is missing. Instead of comparing the denominators, you
                    compare the numerators.</p>

                <b>Let's find the Equivalent of 3/5 when the numerator in the incomplete fraction is 9. </b>
  
                <div class="my-2">
                    <h5 class="primary-text">3 / 5 = 9 / ?</h5>
                </div>

                <ul>
                    <li>Start by taking the two numerators, 3 and 9</li>
                    <li>Divide the bigger number by the smaller number (9 ÷ 3 = 3)</li>
                    <li>Now, multiply the denominator by the number we just found, 3, to get your missing denominator.
                    </li>
                    <li>5 x 3 = 15</li>
                    <li>The answer is 3&frasl;5 = 9&frasl;15</li>
                </ul>

                <p><b class="secondary-text">Conclusion:</b> There are many different ways to write equivalents, but a little division and multiplication makes it very easy!</p>
                <p></p>
            </div>



            <div class="col-9">
                <div class="secondary-text tertiary-border-bottom">
                    <h3 class="secondary-text">
                        How To Simplify/Reduce Fractions<span class="tertiary-text">.</span>
                    </h3>
                </div>

                <p>Simplifying fractions is also pretty easy. Just figure out if numerator and denominator can be divided by the same number 
                    while still being a whole number. Let's walk through it.
                </p>

                <b>Let's simplify this fraction. </b>
  
                <div class="my-2">
                    <h5 class="primary-text">9 / 12</h5>
                </div>

                <ul>
                    <li>Start by seeing if the numerator can be divided by anything, other than 1.</li>
                    <li>9 can be divided by 3 and 9 and produce a whole number.</li>
                    <li>Now, see if the denominator can be divided by any of those numbers.</li>
                    <li>12 can't be divided by 9, but it can be divided by 3!</li>
                    <li>Divide both the numerator and denominator by this common number to get your answer.</li>
                    <li>9&frasl;12 simplified/reduced is 3&frasl;4</li>
                    <li><b>Double Check:</b> perform the steps again using 3&frasl;4. Since 3 can only be divided by 3, and 4 cannot be divided by 3, you have simplified the equation.</li>
                </ul>

                <b>Let's try a different one. </b>
  
                <div class="my-2">
                    <h5 class="primary-text">8 / 12</h5>
                </div>

                <ul>
                    <li>Start by seeing if the numerator can be divided by anything, other than 1.</li>
                    <li>8 can be divided by 2, 4 and 8 and produce a whole number.</li>
                    <li>Now, see if the denominator can be divided by any of those numbers.</li>
                    <li>Wait! 12 can be divided by both 2 and 4!</li>
                    <li>Divide both the numerator and denominator by the larger number, 4, to get your answer.</li>
                    <li>8&frasl;12 simplified/reduced is 2&frasl;3</li>
                    <li><b>Double Check:</b> perform the steps agains using  2&frasl;3. Since 3 cannot be divided by 2, you have simplified the equation.</li>
                </ul>

                <p class="primary-text"><b>But what if I accidently picked 2 instead of 4?</b></p>

                <p>Don't worry! That's why we double check. If you had picked 2 instead of 4, your answer would have been 4&frasl;6. 4 can be divided by 2 and 4.
                    6 can be divided by 2 as well. Since there is still a shared factor, you haven't simplified the equation yet. Instead of redoing the whole 
                    problem, you can just do 4 ÷ 2 and 6 ÷ 2 to get 2&frasl;3. Don't forget to double check again, just to be sure!
                </p>

                <b>Another Example. </b>
  
                <div class="my-2">
                    <h5 class="primary-text">7 / 11</h5>
                </div>
                <ul>
                    <li>Start by seeing if the numerator can be divided by anything, other than 1.</li>
                    <li>7 can be divided by 7 and produce a whole number.</li>
                    <li>But 11 can't be divided by 7...</li>
                    <li>7&frasl;11 is already a simplified fraction. You can't do anything to it!</li>                 
                </ul>

                <b>A BIG Example. </b>
  
                <div class="my-2">
                    <h5 class="primary-text">336 / 504</h5>
                </div>

                <p>
                    This one seems hard! What if we break up the fraction rather than finding the one factor they both have in common?
                    This approach is similiar to if you had picked 2 instead of 4 in the second example. You don't <i>have</i> to start by 
                    dividing by the biggest number, especially when you have no idea what that number is. Start by dividing by something you
                    can tell they have in common.
                </p>
                
                <ul>
                    <li>Both 336 and 504 are even numbers, so we know they can divided by 2.</li>
                    <li>336 ÷ 2 = 168 and 504 ÷ 2 = 252.</li>
                    <li>We're in luck! Both of these are divisible by 2 as well! Let's do it again.</li>
                    <li>168 ÷ 2 = 84 and 252 ÷ 2 = 126.</li>
                    <li>Again, two more even numbers, so divide by two AGAIN . </li>
                    <li>84 ÷ 2 = 42 and 126 ÷ 2 = 63</li>
                    <li>Hmmm, 63 is an odd number, so it can't be divided by two. It ends in 3 though, so we know its a multiple of 3.</li>
                    <li>Yay! 42 can also be divided by 3!</li>
                    <li>42 ÷ 3 = 14 and 63 ÷ 3 = 21</li>
                    <li>Now we're getting somewhere! Both 14 and 21 are products of 7.</li>
                    <li>14 ÷ 7 = 2 and 21 ÷ 7 = 3</li>
                    <li>Can you believe it? You just simplified 336/504 to 2/3!</li>
                </ul>

                <p>
                    That was a lot of work! So if we saw that exact same expression next time, what would we divide it by? Just multiply all the numbers you divided by!
                </p>

                <ul>
                    <li>2 x 2 x 2 x 7 x 3 = 168.</li>
                    <li>336 ÷ 168 = 2 and 504 ÷ 168 = 3</li>          
                </ul>

                <div class="tertiary-text shadow-text">
                    <h5>
                        Improper Fractions and Mixed Numbers
                    </h5>
                </div>

                <p> Let's talk more about pizza. If you have a whole pizza and cut it up into 8 slices and don't move the slices, you have 8&frasl;8 
                    of a pizza. We know 8 ÷ 8 = 1, which makes sense because you have 1 whole pizza. If you take away one slice, you now have 7&frasl;8 
                    of a pizza, which is less than a whole. But what if someone told you they had 16&frasl;8 of pizza? If there are only 8 slices of pizza,
                    how can you have 16 slices? The only thing that makes sense is if you have two pizzas! 
                </p>
                <p>An <b>Improper Fraction</b> is a fraction whose number on top is bigger than on bottom, like 16&frasl;8 of pizza. What this means is there 
                    is more than one whole pizza being counted in that fraction. Another example, if you make a dozen (12) cookies and your friend makes a dozen
                    cookies, you now have 24/12 cookies. A dozen is 12, so 12 makes up 1 whole batch of cookies. You have 2 batches of cookies, so you have 24/12
                    cookies.                
                </p>
                <p>So how do we deal with improper fractions? Let me show you. 
                    Let's say you ordered 2 pizzas and they were cut into 8 slices each (16 slices). But you ate 1 slice, so now you have 7 slices
                    in one pizza (7&frasl;8) and 8 slices in the other (8&frasl;8) for a total of 15&frasl;8 slices.
                </p>


                <b>Pizza Time! </b>
  
                <div class="my-2">
                    <h5 class="primary-text">15 / 8</h5>
                </div>
                <ul>
                    <li>Keep in mind before we start: 8 slices is one whole object because it takes 8 slices of pizza to make 1 whole pizza. </li>
                    <li>15 is greater than 8, so we know we have at least one whole object. Let's remove that whole object and set it to the side.</li>
                    <li>15 - 8 = 7 (1 whole removed)</li>
                    <li>Can you take out another whole object (8)? No. So now we have 1 whole object and 7&frasl;8 of an object</li>
                    <li>The mixed number is 1 7&frasl;8 because it has an integer/whole number (1) and a proper fraction(1 7&frasl;8)</li>
      
                </ul>

               <b>Cookies Galore! </b>

                <p>
                    Let's try a harder one. Let's say you made 40 cookies for your classmates and teachers. A dozen (12 cookies) makes up one whole batch.
                    How many batches did you make?
                </p>
  
                <div class="my-2">
                    <h5 class="primary-text">40 / 12</h5>
                </div>
                <ul>
                    <li>Take out as many whole batches as you can. 40 - 12 = 28, 28 - 12 = 16, 16 - 12 = 4. </li>
                    <li>We were able to take out 3 batches of cookies because we subtracted a whole batch (12) 3 times.</li>
                    <li>So now we have 3 and 4&frasl;12 left. The 4&frasl;12 is there because after subtracting 3 batches, we still had 4 cookies left over. </li>
                    <li>So we made 3 4&frasl;12 batches of cookies.</li>
                    <li>But wait!  4&frasl;12  can be simplified!</li>
                    <li>The mixed number would be 3 1&frasl;3 batches of cookies. </li>
                    <li><b>Bonus:</b> Why is this called a mixed number?</li>
                </ul>

                <b>How Tall are You? </b>

                <p>
                    Ask your parents to measure you in inches (not feet!). Then, try to figure out how tall you are in feet without looking at the measuring tape.
                    For this example, we'll use someone 62" tall.
                </p>
  
                <div class="my-2">
                    <h5 class="primary-text">40 / 12</h5>
                </div>
                <ul>
                    <li>We know 12 inches = 1 foot. So 1 whole foot is 12 inches, or 12&frasl;12 </li>
                    <li>Someone who is 62 inches is 62&frasl;12 feet tall.</li>
                    <li>You know 12 x 5 = 60 because you're a wiz at multiplication!</li>
                    <li>Let's take out 5 whole feet, since 12inches (a whole foot) goes into 62 inches 5 times.</li>
                    <li>Now we have 5 feet and 2&frasl;12 of a foot.</li>
                    <li>A proper fraction would be 5 1&frasl;6 feet (but we'd never say that!)</li>
                    <li>In America, we would just say we are 5ft 2in and everyone would know that 2 inches is 2&frasl;12</li>
                </ul>

                <p><b>Bonus challenge!</b> How many more inches would this person need to grow to be 7ft tall? What does that look like as a fraction?</p>
            </div>


        </div>

    </div>

</div>